@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .flip-container {
    transform-style: preserve-3d;
  }
  .flip-hover:hover {
    transform: rotateY(180deg);
  }
  .swiper-pagination {
    bottom: 16px !important;
    text-align: center;
  }
  .swiper-pagination-bullet {
    background-color: #aaa;
    opacity: 0.7;
  }
  .swiper-pagination-bullet-active {
    background-color: #EA5C0C;
    opacity: 1;
  }
}
